.info-block{
  font-size: 30px;
  text-align: center;
  margin-top: 10px
}

.post-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 5px;
}